@import './null.css';
@import './theme.css';
@import './animation.css';

#app {
  background: linear-gradient(180deg, #b3ad91 8.08%, #e1dcc3 35.58%, #e1dcc3 78.77%, #b3ad91 100%);
  position: relative;
  width: 100vw;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      98.47% 98.47% at 49.62% 50%,
      rgba(55, 69, 36, 0) 9.29%,
      #374524 100%
    );
    pointer-events: none;
  }
}
